
<h1>{{title}}</h1>
  <!-- <h1>Basic Form</h1> -->
<!-- 
<form #basicForm="ngForm" (ngSubmit)="getData(basicForm.value)">

  <input type="text" ngModel name="user" placeholder="Name">
  <br /><br />
  <input type="text" ngModel name="email" placeholder="Email">
  <br /><br />
  <input type="text" ngModel name="password" placeholder="password">
  <br /><br />
  <button>Register</button>
</form>

<ul>
  <li>{{userData.user}}</li>
  <li>{{userData.email}}</li>
  <li>{{userData.password}}</li>
</ul> -->

<!-- <button (click)="toggle()">Toggle</button>
<h1 *ngIf="display">
  Heading Tag
</h1> -->

<!-- <p>

	<ngb-alert [dismissible]="false">
		<strong>Warning!</strong> Better check yourself, you're not looking too good.
	</ngb-alert>
</p> -->
<!-- <div class="alert alert-primary" role="alert">
  A simple primary alert—check it out!
</div>
<div class="alert alert-warning" role="alert">
  A simple warning alert—check it out!
</div>

<mat-slide-toggle>Toggle me!</mat-slide-toggle> -->

<!-- <h1>Todo List</h1>
<br /><br />
<input type="text" placeholder="Enter Name" #task>
<br /><br />
<button (click)="addTask(task.value)">Add Task</button>

<br />
<ul *ngFor="let item of list">
  <li>{{item.name}} <button (click)="removeTask(item.id)">Remove</button></li>
</ul> -->

<!-- <h1>Parent to child data </h1> -->
<!-- <app-child [item]="data"></app-child>
<button (click)="updateChaild()">Update Child value</button> -->

<!-- <h1>Reusable component</h1> -->
<!-- <ul *ngFor="let user of userDetails">
  <app-user-deatails [item]='user'></app-user-deatails>
</ul> -->

<!-- <h1>send data child to parent</h1>
<h1>{{data}}</h1>
<app-child1 (updateDataEvent)="updateData($event)"></app-child1> -->

<!-- <h1>Two way binding</h1>
<input type="text" [(ngModel)]="name">
<h3>{{name}}</h3> -->

<!-- <h1>Template Reference </h1>
<input type="text" #box>
<button (click)="getValue(box.value)">Call Function</button> -->

<!-- <h1>pipe</h1>
<h2>{{title | uppercase}}</h2>
<h2>{{title | lowercase}}</h2>
<h2>{{title}}</h2>
<h2>{{home}}</h2>
<h2>{{home | date}}</h2>
<h2>{{home | date: 'fulldate'}}</h2>
<h2>{{20 | currency:'INR'}}</h2> -->


<!-- <h1>Template Driven Form</h1>
<form #loginForm="ngForm" (ngSubmit)="userLogin(loginForm.value)">

  <input type="text"  name="name" placeholder="Enter Your Name" ngModel>
  <br /><br />
  <input type="password"  name="password" placeholder="Enter Your Password" ngModel>
  <br /><br />
  <button>Login</button>
</form> -->

<h1>Reactive Form Module</h1>
<form [formGroup]="loginForm" (ngSubmit)="loginUser()">
  <input type="text"  name="name" placeholder="Enter Your Name" formControlName="user">
  <br>
  <span style="color: red;" *ngIf="user && user.invalid && user.touched">This is a required field</span>
  <br>
  <input type="password"  name="password" placeholder="Enter Your Password" formControlName="password">
  <br /><br />
  <button [disabled]="loginForm.invalid">Login</button>    
</form> 
 <br>

 <form #userForm="ngForm" (ngSubmit)="getUserFromData(userForm.value)">
  <input type="text" ngModel name="name" placeholder="Enter Your Name">  
  <br><br>
  <input type="text" ngModel name="email" placeholder="Enter Your Email"> 
  <br><br>
  <input type="password" ngModel name="password" placeholder="Enter Your Password">
  <br><br>
  <button>Add New User</button>

 </form>


 <ul>
  <li *ngFor="let user of users">
  {{user.id}} -- {{user.title}} 
  </li>
 </ul>
 
 <!-- <app-login></app-login>
 <app-signup></app-signup> -->
 <!-- <app-footer></app-footer> -->

 <ul>
  <li><a routerLink="login">Login</a></li>
  <li><a routerLink="signup">Sign Up</a></li>
 </ul>
 <router-outlet></router-outlet>